.pri {
  opacity: 1 !important;
  text-align: center !important;
  padding: 5px 0 0 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.nup {
  opacity: 1 !important;
  text-align: center !important;
  padding: 3px 0 3px 0;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.data {
  padding: 5px 20px 10px 20px;
  line-height: 20px;
}
