*{
    font-family: 'Roboto', sans-serif;
}

.center-section{
    background: #e0eee0;
    padding: 103px 0 20px 0;
    font-family: 'Open Sans', sans-serif;
}

.card-slider{
    padding: 32px;
}
.card-slider .carousel{
    max-height: fit-content;
}
.card-slider .carousel .carousel-title{
    font-size: 20px;
    color: #007264;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
.card-slider .carousel .carousel-subtitle{
    font-size: 18px;
    color: #007264;
    font-family: "Roboto";
    font-weight: normal;
    margin-bottom: 20px;
}
.card-slider .carousel .carousel-text{
    font-size: 16px;
}
.card-slider .carousel .carousel-title{
    font-size: 20px;
    color: #007264;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
.bottom-indicators.carousel-indicators{
    position: relative;
    bottom: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.bottom-indicators li {
    display: block;
    flex: none !important;
    width: 8px !important;
    height: 8px !important;
    background-color: #d8d8d8 !important;
    border-radius: 50%;
    cursor: pointer;
}
.bottom-indicators li.active {
    background-color: #007264 !important;
}
.footer-map{
    width: 100%;
    height: 100%;
    border: 5px solid #e0eee0;
    border-radius: 5px;
}
.footer-promo{
    background: linear-gradient(-225deg, #00846f 0%, #085549 100%);
    padding-top: 60px;
    color: white;
}
.footer-promo-title{
    font-size: 32px;
    font-family: "Roboto";
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.footer-promo-item{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}
.footer-promo-item .footer-item-icon{
    padding: 7px;
    background: linear-gradient(-180deg, #f9f7f6 0%, #ced8ea 100%);
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}
.footer-contact-wrapper{
    background: white;
    padding: 20px;
    border-radius: 5px;
    color: #066354;
}
.footer-contact-wrapper .marker-icon{
    background: #066354;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.footer-contact-wrapper .footer-contact-title{
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto';
}
.footer-contact-wrapper .footer-contact-separator{
    border: 0px;
    border-bottom: 2px solid #066354;
}
.footer-contact-wrapper .footer-contact-info{
    font-size: 15px;
}
.banner-bottom{
    display: flex;
    align-items: center;
    background-image: url('../images/promo/bg-banner-bottom.jpg');
    background-size: cover;
    padding: 40px 10px;
}
.banner-bottom .banner-text{
    color: #066354;
    font-family: "Roboto";
    font-weight: bold;
    margin-bottom: 0px;
}
.banner-bottom .img-icon{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.banner-bottom .btn-hubungi-kami{
    background: linear-gradient(-180deg, #00846f 0%, #00846f 0%, #085549 100%);
    color: white;
}