@media (min-width: 1024px) and (max-width: 1280px) {
  .card-content {
    width: 60%;
  }
  .carousel-control-prev-icon {
    width: 30px !important;
    height: 30px !important;
  }
  .carousel-control-next-icon {
    width: 30px !important;
    height: 30px !important;
  }
}
@media (min-width: 869px) and (max-width: 1023px) {
  #navbar li a {
    font-size: 14px;
  }
  .logo {
    width: 150px;
  }
  #navbar ul {
    margin-top: 28px;
  }
  .card-content {
    width: 70%;
    top: 25%;
    margin-bottom: 2em;
  }
  .static-img img {
    width: 100%;
    margin: 0;
  }
  .visualtext {
    padding-right: 0;
  }
  .head-title {
    font-size: 13px;
  }
  h1 {
    font-size: 25px !important;
  }
  .jumbotron__content {
    font-size: 15px !important;
  }
  .carousel-control-prev-icon {
    width: 25px !important;
    height: 25px !important;
  }
  .carousel-control-next-icon {
    width: 25px !important;
    height: 25px !important;
  }
  .news-image {
    height: 130px;
  }
}
@media (min-width: 869px) and (max-width: 1023px) and (orientation: landscape) {
  #navbar li a {
    font-size: 14px;
  }
  .logo {
    width: 150px;
  }
  #navbar ul {
    margin-top: 28px;
  }
  .card-content {
    top: 25%;
    width: 70%;
    margin-bottom: 2em;
    padding: 35px;
  }
  .static-img img {
    width: 100%;
    margin: 0;
  }
  .visualtext {
    padding-right: 0;
  }
  .head-title {
    font-size: 13px;
  }
  h1 {
    font-size: 25px !important;
  }
  .jumbotron__content {
    font-size: 15px !important;
  }
  .carousel-control-prev-icon {
    width: 25px !important;
    height: 25px !important;
  }
  .carousel-control-next-icon {
    width: 25px !important;
    height: 25px !important;
  }
  .news-image {
    height: 130px;
  }
}
@media (min-width: 768px) and (max-width: 868px) and (orientation: landscape) {
  #navbar li a {
    font-size: 12px;
    padding-left: 7px;
    padding-right: 7px;
  }
  .logo {
    width: 150px;
  }
  #navbar ul {
    margin-top: 28px;
  }
  .card-content {
    top: 25%;
    width: 95%;
    background: rgba(245, 245, 245, 0.7);
    padding: 35px;
    margin-bottom: 2em;
  }
  .static-img img {
    width: 100%;
    margin: 0;
  }
  .visualtext {
    padding-right: 0;
  }
  .head-title {
    font-size: 13px;
  }
  h1 {
    font-size: 25px !important;
  }
  .jumbotron__content {
    font-size: 15px !important;
  }
  .carousel-control-prev-icon {
    width: 20px !important;
    height: 20px !important;
  }
  .carousel-control-next-icon {
    width: 20px !important;
    height: 20px !important;
  }
  .carousel {
    width: 100% !important;
    margin: 0 auto;
  }
  .detail-footer {
    font-size: 14px;
  }
  .header-footer {
    font-size: 16px;
  }
  .f-cop {
    font-size: 10px !important;
  }
  .w-85p {
    width: 100% !important;
  }
  .w-80p {
    width: 100% !important;
  }
  .card-content2 {
    top: 30%;
    padding: 0 20px 15px 20px;
  }
  .alternative-heading::after,
  .alternative-heading--404::after,
  .sidebar__headings::after,
  .jumbotron__category2::after,
  .hentry__title::after {
    left: 44.5%;
  }
  .map-loc {
    margin-top: 25px;
  }
  .prev-custom {
    left: 0 !important;
  }
  .next-custom {
    right: 0 !important;
  }
  .news-image {
    height: 130px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  #navbar ul {
    display: none !important;
  }
  .menuIcon {
    right: 40px;
  }
  .logo {
    margin: 0 25px 0 10px;
  }
  .card-content {
    top: 15%;
    width: 95%;
    background: rgba(245, 245, 245, 0.7);
    padding: 35px;
    margin-bottom: 2em;
  }
  .static-img img {
    width: 100%;
    margin: 0;
  }
  .visualtext {
    padding-right: 0;
  }
  .head-title {
    font-size: 12px;
  }
  h1 {
    font-size: 24px !important;
  }
  .jumbotron__content {
    font-size: 14px !important;
  }
  .carousel-control-prev-icon {
    width: 15px !important;
    height: 15px !important;
  }
  .carousel-control-next-icon {
    width: 15px !important;
    height: 15px !important;
  }
  .carousel-caption {
    bottom: -5px !important;
    font-size: 12px !important;
    text-shadow: 0 0 1px #000 !important;
  }
  .modelbtn {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #088770 !important;
    width: auto;
  }
  .form-style {
    /* width: 100%; */
    margin: 10% auto 0 auto;
  }

  .f-first {
    margin-bottom: 30px !important;
  }
  .m-nol {
    margin: 0 !important;
  }
  .carousel {
    width: 100% !important;
    margin: 0 auto;
  }
  .detail-footer {
    font-size: 14px;
  }
  .header-footer {
    font-size: 16px;
  }
  .f-cop {
    font-size: 10px !important;
  }
  .w-85p {
    width: 100% !important;
  }
  .w-80p {
    width: 100% !important;
  }
  .card-content2 {
    top: 30%;
    padding: 0 20px 15px 20px;
  }
  .alternative-heading::after,
  .alternative-heading--404::after,
  .sidebar__headings::after,
  .jumbotron__category2::after,
  .hentry__title::after {
    left: 44.5%;
  }
  .map-loc {
    margin-top: 25px;
  }
  .prev-custom {
    left: 0 !important;
  }
  .next-custom {
    right: 0 !important;
  }
  .orange-line {
    padding-top: 0;
  }
  #newsSidebar {
    order: 2;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #newsContent {
    order: 1;
  }
  .news-image {
    height: 130px;
  }
}
@media (min-width: 321px) and (max-width: 480px) {
  #navbar ul {
    display: none !important;
  }
  .menuIcon {
    right: 30px;
  }
  .logo {
    margin: 0 25px 0 10px;
  }
  .card-content {
    top: 15%;
    width: 95%;
    background: rgba(245, 245, 245, 0.7);
    padding: 35px 25px;
    margin-bottom: 2em;
  }
  .static-img img {
    width: 100%;
    margin: 0;
  }
  .jumbotron__category9 h3 {
    font-size: 20px !important;
  }
  .visualtext {
    padding-right: 0;
  }
  .head-title {
    font-size: 12px;
  }
  h1 {
    font-size: 20px !important;
  }
  .jumbotron__content {
    font-size: 13px !important;
  }
  .carousel-control-prev-icon {
    width: 15px !important;
    height: 15px !important;
  }
  .carousel-control-next-icon {
    width: 15px !important;
    height: 15px !important;
  }
  .form-style {
    /* width: 100%; */
    margin: 10% auto 0 auto;
  }

  .f-first {
    margin-bottom: 30px !important;
  }
  .m-nol {
    margin: 0 !important;
  }
  .modelbtn {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #088770 !important;
    width: auto;
  }
  .carousel-caption {
    bottom: -10px !important;
    font-size: 12px !important;
    text-shadow: 0 0 1px #000 !important;
  }
  .carousel-caption h3 {
    font-size: 15px !important;
    text-shadow: 0 0 1px #000 !important;
  }
  .carousel-indicators .active {
    background-color: #dddddd !important;
  }
  .carousel-indicators-custom {
    bottom: 10px !important;
  }
  .form-control {
    font-size: 13px !important;
  }
  .news-date {
    font-size: 11px;
  }
  .btn {
    font-size: 14px !important;
  }
  .f-cop {
    font-size: 12px !important;
  }
  .carousel-indicators li {
    /* width: 8px !important; */
    margin-top: 10px;
  }
  .carousel {
    width: 100% !important;
    margin: 0 auto;
  }
  .detail-footer {
    font-size: 14px;
  }
  .header-footer {
    font-size: 16px;
  }
  .f-cop {
    font-size: 10px !important;
  }
  .w-85p {
    width: 100% !important;
  }
  .w-80p {
    width: 100% !important;
  }
  .card-content2 {
    top: 30%;
    padding: 0 20px 15px 20px;
  }
  .alternative-heading::after,
  .alternative-heading--404::after,
  .sidebar__headings::after,
  .jumbotron__category2::after,
  .hentry__title::after {
    left: 44.5%;
  }
  .map-loc {
    margin-top: 25px;
  }
  .prev-custom {
    left: 0 !important;
  }
  .next-custom {
    right: 0 !important;
  }
  .orange-line {
    padding-top: 0;
  }
  .flex-xs-column {
    flex-direction: column !important;
    text-align: center;
  }
  #newsSidebar {
    order: 2;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #newsContent {
    order: 1;
  }
  .news-title {
    font-size: 21px;
  }
  #newsSidebar p,
  #newsSidebar i {
    font-size: 16px;
  }
  #newsSidebar li {
    font-size: 12px;
  }
  #newsSidebar button {
    padding: 3px !important;
  }
  .news-image {
    height: 100px;
  }
}
@media (min-width: 1px) and (max-width: 320px) {
  #navbar ul {
    display: none !important;
  }
  .menuIcon {
    right: 20px;
  }
  .logo {
    margin: 0 25px 0 10px;
  }
  .card-content {
    top: 15%;
    width: 95%;
    background: rgba(245, 245, 245, 0.7);
    padding: 35px 25px;
    margin-bottom: 2em;
  }
  .static-img img {
    width: 100%;
    margin: 0;
  }
  .jumbotron__category9 h3 {
    font-size: 15px !important;
  }
  .visualtext {
    padding-right: 0;
  }
  .head-title {
    font-size: 12px;
  }
  h1 {
    font-size: 18px !important;
  }
  .jumbotron__content {
    font-size: 12px !important;
  }
  .carousel-control-prev-icon {
    width: 15px !important;
    height: 15px !important;
  }
  .carousel-control-next-icon {
    width: 15px !important;
    height: 15px !important;
  }
  .form-style {
    /* width: 100%; */
    margin: 10% auto 0 auto;
  }

  .f-first {
    margin-bottom: 30px !important;
  }
  .m-nol {
    margin: 0 !important;
  }
  .carousel-caption {
    bottom: 0 !important;
    font-size: 12px !important;
    text-shadow: 0 0 1px #000 !important;
  }
  .modelbtn {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #088770 !important;
    width: auto;
  }
  .carousel-caption h3 {
    font-size: 15px !important;
    text-shadow: 0 0 1px #000 !important;
  }
  .carousel-indicators li {
    /* background-color: rgba(0, 0, 0, 0.5) !important; */
  }
  .carousel-indicators .active {
    background-color: #dddddd !important;
  }
  .carousel-indicators-custom {
    bottom: 10px !important;
  }
  .form-control {
    font-size: 13px !important;
  }
  .news-date {
    font-size: 11px;
  }
  .btn {
    font-size: 14px !important;
  }
  .f-cop {
    font-size: 12px !important;
  }
  .carousel {
    width: 100% !important;
    margin: 0 auto;
  }
  .detail-footer {
    font-size: 14px;
  }
  .header-footer {
    font-size: 16px;
  }
  .f-cop {
    font-size: 10px !important;
  }
  .w-85p {
    width: 100% !important;
  }
  .w-80p {
    width: 100% !important;
  }
  .card-content2 {
    top: 30%;
    padding: 0 20px 15px 20px;
  }
  .alternative-heading::after,
  .alternative-heading--404::after,
  .sidebar__headings::after,
  .jumbotron__category2::after,
  .hentry__title::after {
    left: 44.5%;
  }
  .map-loc {
    margin-top: 25px;
  }
  .prev-custom {
    left: 0 !important;
  }
  .next-custom {
    right: 0 !important;
  }
  .orange-line {
    padding-top: 0;
  }
  .flex-xs-column {
    flex-direction: column !important;
    text-align: center;
  }
  .minidesc h3 {
    font-size: 16px;
  }
  .minidesc p {
    font-size: 12px;
  }
  #newsSidebar {
    order: 2;
    padding-bottom: 20px;
    padding-top: 20px;
  }
  #newsContent {
    order: 1;
  }
  .news-title {
    font-size: 16px;
  }
  #newsSidebar p,
  #newsSidebar i,
  #newsSidebar li,
  .news-content p,
  .news-src {
    font-size: 12px;
  }
  #newsSidebar button {
    padding: 0px !important;
  }
  .news-image {
    height: 70px;
  }
}
@media (min-width: 768px) and (max-width: 773px) {
  .logo {
    width: 150px;
  }
  #navbar li a {
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
  }
  #navbar ul {
    margin-top: 30px;
  }
}
@media (min-width: 774px) and (max-width: 800px) {
  .logo {
    width: 150px;
  }
  #navbar li a {
    font-size: 12px;
    padding-left: 2px;
    padding-right: 2px;
  }
  #navbar ul {
    margin-top: 30px;
  }
}
@media (min-width: 801px) and (max-width: 805px) {
  .logo {
    width: 150px;
  }
  #navbar li a {
    font-size: 13px;
    padding-left: 2px;
    padding-right: 2px;
  }
  #navbar ul {
    margin-top: 30px;
  }
}
@media (max-height: 639px) {
  .menu-mobile li {
    padding: 0;
  }
  .menu-mobile {
    padding-top: 100px;
  }
  .overlay-menu li a {
    padding: 7px 0;
  }
}
