* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}
body, html {
    height: 100%;
    margin: 0;
    background: #fff !important;
    font-family: Lato, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}
body {overflow-x: hidden;}
.bg {
    /* background-image: url("../images/home/Type-A.jpg"); */
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/*======================================================
                        Font
======================================================*/
@font-face {
    font-family: "glyphicons";
    src: url("../fonts/glyphicons-regular.ttf")format("opentype");
}
@font-face {
    font-family: "revicons";
    src: url("../fonts/revicons.ttf")format("opentype");
}
@font-face {
    font-family: "peicon7";
    src: url("../fonts/Pe-icon-7-stroke.ttf")format("opentype");
}
@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/Roboto-Bold.ttf")format("opentype");
}
@font-face {
    font-family: "roboto-medium";
    src: url("../fonts/Roboto-Medium.ttf")format("opentype");
}
@font-face {
    font-family: "roboto-regular";
    src: url("../fonts/Roboto-Regular.ttf")format("opentype");
}
@font-face {
    font-family: "roboto-light";
    src: url("../fonts/Roboto-Light.ttf")format("opentype");
}
@font-face {
    font-family: "opens-bold";
    src: url("../fonts/OpenSans-Bold.ttf")format("opentype");
}
@font-face {
    font-family: "opens-condensed";
    src: url("../fonts/OpenSans-Condensed.ttf")format("opentype");
}
@font-face {
    font-family: "opens-regular";
    src: url("../fonts/OpenSans-Regular.ttf")format("opentype");
}
@font-face {
    font-family: "opens-light";
    src: url("../fonts/OpenSans-Light.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-black";
    src: url("../fonts/Montserrat-Black.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-exbold";
    src: url("../fonts/Montserrat-ExtraBold.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-bold";
    src: url("../fonts/Montserrat-Bold.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-smbold";
    src: url("../fonts/Montserrat-SemiBold.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-medium";
    src: url("../fonts/Montserrat-Medium.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-regular";
    src: url("../fonts/Montserrat-Regular.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-light";
    src: url("../fonts/Montserrat-Light.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-exlight";
    src: url("../fonts/Montserrat-ExtraLight.ttf")format("opentype");
}
@font-face {
    font-family: "montserat-thin";
    src: url("../fonts/Montserrat-Thin.ttf")format("opentype");
}
@font-face {
    font-family: "gotham-book";
    src: url("../fonts/Gotham-Book.otf")format("opentype");
}
@font-face {
    font-family: "gotham-bold";
    src: url("../fonts/Gotham-Bold.otf")format("opentype");
}
@font-face {
    font-family: "gotham-medium";
    src: url("../fonts/Gotham-Medium.otf")format("opentype");
}
@font-face {
    font-family: "gotham-light";
    src: url("../fonts/Gotham-Light.otf")format("opentype");
}

/*======================================================
                         Default
======================================================*/
.no-margin {margin: 0 !important;}
.no-padding {padding: 0 !important;}
.no-pl {padding-left: 0 !important;}
.no-pr {padding-right: 0 !important;}
.no-pt {padding-top: 0 !important;}
.no-pb {padding-bottom: 0 !important;}
.no-ml {margin-left: 0 !important;}
.no-mr {margin-right: 0 !important;}
.no-mt {margin-top: 0 !important;}
.no-mb {margin-bottom: 0 !important;}

.p-10{padding: 10px !important}
.p-whatsapp{padding: 5px 30px 10px 10px !important;}

.pl-5px{padding-left: 5px !important}

.ml-15{margin-left: 15px !important}

.mt-20{margin-top: 20px !important}
.mt-50{margin-top: 50px !important}
.mt-150{margin-top: 150px !important}
.mb-30{margin-bottom: 30px !important}
.mb-50{margin-bottom: 50px !important}

.w-100{width: 100% !important}
.h-100{height: 100% !important}
.h-100vh{height: 100vh !important}

.w-30{width: 30px}
.w-80p{width: 80% !important}
.w-85p{width: 85% !important}

.txt-center{text-align: center !important}
.txt-left{text-align: left !important}
.txt-right{text-align: right !important}

/*======================================================
                        Navbar
======================================================*/

#navbar {
    /* background-color: rgb(245, 245, 245); */
    color: rgb(13, 26, 38);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom-left-radius: 100;
    /* margin: 0 auto; */
}
.nav-wrapper {
    margin: auto;
    width: 100%;
    /* background-color: rgb(245, 245, 245); */
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+68,ffffff+100&1+50,0+100 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 50%, rgba(255,255,255,0.64) 68%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.64) 68%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 50%,rgba(255,255,255,0.64) 68%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */

    /* border-radius: 100px; */
    max-height: 80px;
}

.img-responsive{
    width: 100%;
}
.logo {
    display: inline-block;
    width: 175px;
    margin: 0 25px 0 25px;
}
.logo2 {
    display: block;
    position: absolute;
    top: 19px;
    left: 15px;
    width: 180px;
}
#navbar ul {
    display: inline-block;
    margin-top: 30px;
    margin-right: 25px;
    margin-bottom: 1rem;
    float: right;
    list-style: none;
    text-align: left;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

@media(min-width:1145px){
    .active{
      /* border-top: 5px solid #8bca2e;
      padding-top: 18px !important; */
      /* transition-delay: 0.5s; */
    }
    .active:hover{
      /* border-top: none !important; */
      /* padding-top: 25px !important; */
      /* transition: none !important; */
    }

}
#navbar li a:hover {
    color: #222;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

@media(max-width: 767px) {


}
#navbar li {
    display: inline-block;
    height: 100%;
}
#navbar li a {
    color: #222;
    display: block;
    font-family: "opens-regular";
    font-size: 16px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    text-decoration: none;
    font-weight: 900;
    /* text-shadow: 0px 0px 0.1px #f5f5f5; */
}
#navbar li a:hover {color: #088770 !important;}
#navbar li a.active {color: #f93a3a;}

/* Animated Bottom Line */
#menu li a {
    position: relative;
}

@media (min-width: 768px) {
  #menu li > a::before {
      content: '';
      position: absolute;
      bottom: -15px;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #088770;
      transition: all 250ms;
  }

  #menu li > a:hover::before {
      width: 100%;
  }
}


/* #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -15px;
}
#navbar li a:before {
    left: 0;
    transition: 0.5s;
}
#navbar li a:after {
    right: 0;
}
#navbar li a:hover:before {
    background: #088770;
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}
#navbar li a:hover:after {
    background: transparent;
    width: 100%;
} */
/*
.dropdown-toggle::after {
    border: none!important;
 } */

 .dropdown-toggle::after {
     border-right: none !important;
     border-left: none !important;
     border-bottom: none !important;
     border-top: none !important;
 }


 .box{
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(428px, 63px, 0px);
 }
/*
 #navbar li:nth-child(3){
    height: 0!important;
 } */
/*
 #navbar li:nth-child(3) .dropdown-toggle{
     border: none;
 } */



.scrolled{
    background-color: rgba(245, 245, 245, 0.7)!important;
    transition: 0.2s;
    display: block;
    position: fixed !important;
    border-radius: 0 !important;
    /* padding-top: 10px; */
    top: 0 !important;
    /* height: 100px !important; */
    transition: all .3 ease-in-out;
}
.scrolled-icon{
    top: 38px !important;
    transition: 0.2s;
}
.scrolled .nav-wrapper {
    background: none;
}

/*======================================================
                Mobile Menu Menu Icon
======================================================*/

@media(max-width: 767px) {
    .menuIcon {
        cursor: pointer;
        display: block;
        position: fixed;
        right: 45px;
        top: 50px;
        height: 23px;
        width: 27px;
        z-index: 1999;
    }

    .lock-scroll {overflow: hidden;}

    /* Icon Bars */
    .icon-bars {
      background: #088770;
      position: absolute;
      left: 1px;
      top: 45%;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }
    .icon-bars::before {
      background: #088770;
      content: '';
      position: absolute;
      left: 0;
      top: -8px;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }
    .icon-bars::after {
      margin-top: 0px;
      background: #088770;
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      height: 2px;
      width: 20px;
      -webkit-transition: 0.3s width 0.4s;
      transition: 0.3s width 0.4s;
    }

    /* Bars Shadows */
    .icon-bars.overlay {
      background: #f5f5f5;
      width: 20px;
      animation: middleBar 3s infinite 0.5s;
      -webkit-animation: middleBar 3s infinite 0.5s;
    }
    @keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
    }
    @-webkit-keyframes middleBar {
        0% {width: 0px}
        50% {width: 20px}
        100% {width: 0px}
    }
    .icon-bars.overlay::before {
      background: #f5f5f5;
      width: 10px;
      animation: topBar 3s infinite 0.2s;
      -webkit-animation: topBar 3s infinite 0s;
    }
    @keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
    }
    @-webkit-keyframes topBar {
        0% {width: 0px}
        50% {width: 10px}
        100% {width: 0px}
    }
    .icon-bars.overlay::after {
      background: #f5f5f5;
      width: 15px;
      animation: bottomBar 3s infinite 1s;
      -webkit-animation: bottomBar 3s infinite 1s;
    }
    @keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
    }
    @-webkit-keyframes bottomBar {
        0% {width: 0px}
        50% {width: 15px}
        100% {width: 0px}
    }

    /* Toggle Menu Icon */
    .menuIcon.toggle .icon-bars {
      top: 5px;
      transform: translate3d(0, 5px, 0) rotate(135deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .menuIcon.toggle .icon-bars::before {
      top: 0;
      transition-delay: 0.1s;
      opacity: 0;
    }
    .menuIcon.toggle .icon-bars::after {
      top: 10px;
      transform: translate3d(0, -10px, 0) rotate(-270deg);
      transition-delay: 0.1s;
      transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .menuIcon.toggle .icon-bars.overlay {
      width: 20px;
      opacity: 0;
      -webkit-transition: all 0s ease 0s;
      transition: all 0s ease 0s;
    }
}

/*======================================================
                Responsive Mobile Menu
======================================================*/

@media (min-width:768px){
    .overlay-menu{display: none !important;}
}
.menu-mobile{
    left: 30px;
    padding-top: 20px;
}
.menu-mobile li{
    padding: 5px 0;
}

.menu-mobile .dropdown-item {
  padding-left: 15px;
}

.overlay-menu {
    background: #f5f5f5;
    color: rgb(13, 26, 38);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    position: fixed;
    z-index: 199;
    overflow: hidden;
    top: 0;
    right: 0;
    padding-right: 15px;
    transform: translateX(-100%);
    width: 100vw;
    height: 100vh;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}
.overlay-menu ul, .overlay-menu li {
    display: block;
    position: relative;
}
.overlay-menu li a {
    display: block;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px 0;
    text-align: left;
    /* text-transform: uppercase; */
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #088770;
}
.overlay-menu li a:hover,
.overlay-menu li a.active {
    color: #f00;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    text-decoration: none;
}

/*======================================================
                BACKGROUND PARALLAX
======================================================*/

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    position: relative;
    /* opacity: 0.65; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgimg-1 {
    background-image: url("../images/background/header_concept.jpg");
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),  url('../images/background/header_concept.jpg'); */

  }
  .bgimg-2 {
    background-image: url("../images/background/gate.png");
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),  url('../images/background/header_concept.jpg'); */

  }
  .bgimg-3 {
    background-image: url("../images/background/disclaimer1.jpg");
    min-height: 100%;
    max-height: 100%;
    height: 100%;
    /* background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),  url('../images/background/header_concept.jpg'); */
    overflow: auto;
  }
  .bgimg-4 {
      background-image: url("../images/background/bambootajur-facility-club-house-20190226.jpg");
      min-height: 100%;
    max-height: 100%;
    height: 100%;
  }
  .overlay-black{
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.2);
    display: block;
    position: absolute;
  }

  /* .bgimg-2 {
    background-image: url("img_parallax2.jpg");
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
  } */

/* SLIDE HOVER */

  .rel1 {
    margin-top: -170px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(#5e9f4a, #01806b);
  }

  .rel1 h3{
      font-size:30px;
      color: #fff;
      font-family: "roboto-bold";
  }

  .rel1 hr{
      border-top: #ecc265 4px solid;
  }

  .rel1 p.a{
      font-size: 20px;
      font-family: "roboto-light";
      color: #fff;
      letter-spacing: -1.2px;
  }

  .rel1 p.b{
    font-size: 24px;
    font-family: "roboto-thin";
    color: #fff;
    letter-spacing: -1.2px;
}

/* SLIDE HOVER-END */

/* CONTACT GREEN CARD  */

    .cardbox{
        height: auto;
        padding-bottom: 2em;
        background-color: #00846f;
        background-image: url('../images/background/card_overlay.png');
        background-repeat: no-repeat;
        background-size: 30%;
        margin-top: 9em;
    }

    .cardbox h4{
        font-family: 'roboto-bold';
        font-size: 16.5px;
        color: #fff;
    }

    .cardbox p{
        font-family: 'roboto-light';
        color: #fff;
        font-size: 14px;
    }
    .cardbox hr{
        border-top: #ecc265 4px solid;
    }


/* MINI DESC */
    .minidesc{
        width: auto;
        height: auto;
        /* background-color:#01806b; */
    }

    .minidesc-headline {
        font-family: "roboto-bold" !important;
    }

    .minidesc h2{
        font-family: 'roboto-medium';
        font-size: 30px;
        color: #01806b;
    }

    .minidesc h3{
        font-family: 'roboto-light';
        font-size: 20px;
        color: #01806b;
    }

    .minidesc p{
        font-family: 'roboto-light';
        font-size: 16px;
        color: #000;
    }

    .orange-line {
        padding-top: 43px;
    }

/* MINI DSC END */

    .

/* CONCEPT CARD END */
  .card-concept{
    top: 20%;
    width: 500px;
    left: calc( 50% - 250px );
    background: rgba(51, 51, 51, 0.9);
    position: absolute;
    padding: 20px;
    max-height: 100%;
    z-index: 0;
  }

  .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 94%;
    text-align: center;
    color: #000;
    padding: 50px 10%;
    /* background: rgb(245,245,245, 0.5); */
    margin: 0 3%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 10px #222; */
  }
  .caption-child {
    position: absolute;
    left: 0;
    top: 50%;
    width: 94%;
    text-align: center;
    color: #000;
    padding: 50px 10%;
    /* background: rgb(245,245,245, 0.5); */
    margin: 0 3%;
    border-radius: 5px;
    /* box-shadow: 1px 1px 10px #222; */
  }

  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .floating-content{
    color: #fff;
    letter-spacing: 10px;
    text-shadow: 2px 2px 3px #000;
    font: 300 50px/1.2 "Oswald", sans-serif;
    text-transform: uppercase;
  }
  .floating-desc{
    margin: 30px 0 0 0;
    color: #fff !important;
    font-family: "opens-regular";
    font-size: 16px;
    font-weight: 600;
    /* text-align: left !important; */
    /* text-shadow: 1px 1px 1px #000; */
  }

  /* card */

.card-content {
    top: 30%;
    width: 45%;
    left: 2.5%;
    background: rgba(245, 245, 245, 0.9);
    position: absolute;
    height: auto;
    border-radius: 10px;
}

.card-content hr, .minidesc hr{
    border-top: #ecc265 4px solid;
    opacity: 0.5;
}

.card-content p{
    font-family: 'roboto-light';
    font-weight: 300;
    font-size: 14px;
}

.card-content2 {
    top: 35%;
    width: 95%;
    left: 2.5%;
    /* left: calc( 21% - 245px ); */
    background: rgba(245, 245, 245, 0.9);
    position: absolute;
    padding: 20px 40px 30px 40px;
    margin-bottom: 2em;
    /* max-height: 100%; */
    z-index: 0;
    border-radius: 10px;
}

/* NEWS SIDEBAR */
#newsSidebar p,
#newsSidebar i {
    color: #00846f;
}
#newsSidebar a,
.inactive a {
    color: #000 !important;
}
#newsSidebar li:hover,
.inactive li:hover {
    color: #00846f !important;
}
.inactive p:hover,
.inactive i:hover {
    color: #00846f !important;
    cursor: pointer;
}
.news-sidebar {
    border-bottom: solid 2px rgba(236,194,101, .5);
    font-family: 'roboto-light';
}
/* .news-sidebar p {
  margin-bottom: 0;
} */
.news-item-active {
    color: #00846f;
}
.inactive p,
.inactive i  {
    opacity: .5;
}
.inactive ul {
    display: none;
    /* display:  */
}
/* END NEWS SIDEBAR */

/* NEWS */
.news-title {
    font-family: "roboto-medium";
}
.news-date,
.news-content,
.news-src {
    font-family: 'roboto-light';
}
.news-src {
    color: #00846f;
}
.news-image {
    height: 220px;
}

/* END NEWS */
.title-section-line.break-section {
  margin: 50px 0;
}

.title-section-line.break-section hr {
  position: absolute;
  width: 100%;
}

@media (min-width: 768px) {
  .title-section-line.break-section hr {
    transform: translateY(-9px);
  }
}

.title-section-line .head-title {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .title-section-line {
    display: flex;
  }
  .title-section-line > div:first-child {
    flex-grow: 0;
    display: flex;
    align-items: center;
  }
  .title-section-line > div:last-child {
    flex-grow: 1;
  }
}
.title-section-line hr {
    border-top: #ecc265 4px solid;
    opacity: 0.5;
}

.white-card-float {
    top: 50%;
    transform: translateY(-50%);
    left: 2.5%;
    width: 95%;
    background: rgba(245, 245, 245, 0.7);
    padding: 35px 25px;
    position: absolute;
    height: auto;
    border-radius: 10px;
}



.white-card-float p {
    font-family: 'roboto-light';
    font-weight: 300;
    font-size: 14px;
}

@media (min-width: 768px) {
  .white-card-float {
    padding: 35px;
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 70%;
    max-width: 500px;
  }
}

.the-concept-desc {
  max-width: 665px;
  margin: 0 auto 20px auto;
  text-align: center;
  font-weight: 300;
  font-family: 'roboto-light';
}

.the-concept-tagline {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  font-style: italic;
  font-family: 'roboto-light';
  color: #058770;
}

.the-concept-showcase {
  min-height: 385px;
  margin: 0;
}

@media (min-width: 768px) {
  .the-concept-showcase {
    min-height: 385px;
    margin: 0 40px;
  }
}

.the-concept-showcase img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.home-desc {
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.25px;
  text-align: center;
  font-family: 'roboto-light';
  font-weight: 300;
}

.home-desc b {
  color: #058770;
  font-family: 'roboto-medium';
  font-weight: 500;
}

@media (min-width: 576px) {
  .home-desc b {
    display: block;
  }
}


.static-img img{
    width: 75%;
    height: 900px;
    margin-left:13%;
    object-fit: cover;
}

.visualtext{
    padding-right: 3rem;
}

.jumbotron__category9 {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.jumbotron__category9 h3{
  font-family: 'roboto-light';
  font-weight: 300;
  color: #007c6a;
  font-size: 25px;
}

.jumbotron__category2 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    margin-top: 40px !important;
}

.privacy-list{
    display: block;
    text-align: start;
    margin: 2em 15vw;
}

.alternative-heading, .alternative-heading--404, .sidebar__headings, .footer .footer__headings, .hentry__title, .panel-grid .widget-title, body.woocommerce-page div.product .woocommerce-tabs h2, body.woocommerce-page .short-description, body.woocommerce-page .cart-collaterals .cart_totals h2, body.woocommerce-page .cart-collaterals .shipping_calculator h2 {
    position: relative;
    margin-top: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.overflow-hidden {
  overflow: hidden;
}

.jumbotron__category h6 {
    margin: 0;
    color: #088770;
}
.jumbotron__category2 h6 {
    margin: 0;
    color: #088770;
}
.alternative-heading::after, .alternative-heading--404::after, .sidebar__headings::after, .hentry__title::after {
    position: absolute;
    content: "";
    background-color: #088770;
    height: 3px;
    width: 30px;
    bottom: -1px;
    left: 0;
}
.alternative-heading::after, .alternative-heading--404::after, .sidebar__headings::after, .jumbotron__category2::after, .hentry__title::after {
    position: absolute;
    content: "";
    background-color: #088770;
    height: 3px;
    width: 30px;
    bottom: -1px;
    left: 48.7%;
}

.jumbotron__category h6{
    font-family: 'roboto-bold';
    font-size: 16px;
    color: #00846f;
}

.head-title{
    font-family: "opens-regular";
    font-weight: bold;
}
.carousel{
    width: 80% !important;
    margin: 0 auto;
}
.carousel-indicators {
    z-index: 1 !important;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
.carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
}
.carousel-control-next-icon {
    width: 40px !important;
    height: 40px !important;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }

.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel-indicators li {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.carousel-item {
    -webkit-transition: -webkit-transform 2s ease-in-out !important;
    -o-transition: -o-transform 2s ease-in-out !important;
    transition: transform 2s ease-in-out !important;
    transition-delay: 8s;
}
.carousel-indicators .active {
    background-color: #dddddd !important;
}
.close {
    position: absolute;
    right: 1rem;
  }

.form-style{
    margin: 50px auto 20px auto;
    width: 60%;
    text-align: center;
}
.form-label1{
    font-size: 40px;
    margin-bottom: 0;
    color: #088770;
}
.form-label2{
    /* font-size: 40px; */
    margin: 10px auto 40px auto;
    color: #088770;
}
.btn-primary {
    color: #fff;
    background-color: #088770 !important;
    border-color: #088770 !important;
    width: 120px;
}
.btn-primary:hover {
    color: #088770 !important;
    background-color: #fff !important;
    border-color: #088770 !important;
}
.form-control:focus {
    border-color: #ced4da !important;
    box-shadow: 0 0 5px rgba(98, 101, 228, 0) !important;
}
 .btn:focus {
    border-color: #088770 !important;
    box-shadow: 0 0 5px rgba(98, 101, 228, 0) !important;
}
.carousel-indicators-custom {
    bottom: 10px !important;
}
.prev-custom {
    left: -50px !important;
    width: 50px !important;
}
.next-custom {
    right: -50px !important;
    width: 50px !important;
}

.modelbtn{
    background-color: #fff !important;
    border-color: #fff !important;
    color: #088770 !important;
    width: auto;
    height: 35px;

}

.modal-xl {
    max-width: 90% !important;
}

/*======================================================
                        FOOTER
======================================================*/

.bg-footer{
    background: #f5f5f5;
    padding: 50px 5% 0px 5%;

}
.header-footer{
    font-family: "opens-regular";
    font-weight: bold;
    color: #088770;
}
.detail-footer{
    height: 175px;
}
.img-shinmichi{
    width: 100%;
    max-width: 200px;
}
.img-kbj{
    width: 100%;
    max-width: 105px;
    margin-bottom: 1em;
}

.footer-link-item,
.footer-link-item:hover{
    color: #088770;
    text-decoration: none;
    font-weight: bold;
    font-family: "opens-regular";
}

.f-fav{
    font-size: 25px;
    letter-spacing: 10px;
    margin: 15px auto;
    color: #333 !important;
}
.f-fav a{
    color: #333 !important;
}
.f-fav a:hover{
    color: #088770 !important;
}
.f-cop{
    font-size: 11px;
    padding: 3px 0;
}
.spek-home{margin: 0 0 20px 0;}
.img-spek-a1{
    width: 100%;
    max-width: 500px;
}
.img-spek-a2{
    width: 100%;
    max-width: 500px;
}
.carousel-full {
    width: 100% !important;
    margin: 0 auto;
    position: relative;
}
.news-style{
    width: 100% !important;
    max-width: 1024px !important;
}

/*======================================================
                        return to top
    ======================================================*/
    #return-to-top {
        position: fixed;
        bottom: 30px;
        right: 20px;
        /* background: rgb(8, 135, 112); */
        background: rgba(8, 135, 112, 0.7);
        width: 50px;
        height: 50px;
        display: block;
        text-decoration: none;
        -webkit-border-radius: 35px;
        -moz-border-radius: 35px;
        border-radius: 35px;
        /* display: none; */
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        padding: 10px 15.5px;
    }
    #return-to-top i {
        color: #fff;
        margin: 0;
        position: relative;
        left: 1.5px;
        top: 3px;
        font-size: 19px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    #return-to-top:hover {
        background: rgba(8, 135, 112);
    }
    #return-to-top:hover i {
        color: #fff;
        top: 0px;
    }

.f-whatsapp{
    background-image: url(../images/icon/wa-green.png);
    width: 42px;
    height: 42px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: 9px 0 0 10px;
    border: 2px solid #088770;
    border-radius: 100px;
    padding: 5px;
}
.f-whatsapp:hover{
    background-image: url(../images/icon/wa-white.png);
    width: 42px;
    height: 42px;
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    margin: 9px 0 0 10px;
    border: 2px solid #088770;
    background-color: #088770;
    border-radius: 100px;
    padding: 5px;
}
.fp-whatsapp{
    color: #0e8c06 !important;
    cursor: pointer;
    text-decoration: none !important;
}
.fp-whatsapp:hover{
    color: #f93a3a !important;
}
.floating-whatsapp{
    width: 175px;
    height: 60px;
    position: fixed;
    display: block;
    background-color: #fff;
    bottom: 25px;
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
.floating-teks{
    position: absolute;
    margin: 17px 0 0 60px;
    color: #088770;
}

/*======================================================
                        Green tabs
======================================================*/
.green-tabs {
  width: 100%;
}

.green-tabs.nav-tabs .nav-item {
  flex: 1;
}

.green-tabs.nav-tabs .nav-item .nav-link {
  border-radius: 0;
  border: none;
  border-bottom: solid 2px #efefef;
  font-family: 'roboto-medium';
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 21px;
  font-size: 16px;
  color: #d1d1d1;
}

.green-tabs.nav-tabs .nav-item .nav-link:focus {
  outline: none;
}

@media (min-width: 576px) {
  .green-tabs.nav-tabs .nav-item .nav-link {
    font-size: 18px;
  }
}

.green-tabs.nav-tabs .nav-item .nav-link.active {
  color: #04876f;
  border-bottom: solid 2px #04876f;
}

.type-home {
  margin-top: 40px;
}

.detail-materials {
  text-align: center;
}

.detail-materials img {
  max-width: 750px;
  width: 100%;
  margin-bottom: 60px;
}

.side-info-showcase {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 25px;
}

@media (min-width: 768px) {
  .side-info-showcase {
    padding-top: 0;
  }
}

.side-info-showcase .list-info {
  display: flex;
  align-items: center;
  line-height: 21px;
  margin-bottom: 20px;
  font-weight: 600;
  font-family: 'roboto-regular';
}

.side-info-showcase .list-info img {
  margin-right: 20px;
}

.side-info-showcase .link-denah {
  background-color: #088770;
  border-radius: 5px;
  padding: 6px 15px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: 'roboto-regular';
  transition: all 150ms;
  text-decoration: none;
  width: 200px;
}

.side-info-showcase .link-denah:hover {
  background-color: #fff;
  box-shadow: 0 0 0 1px #088770;
  color: #088770;
}

.the-homes-showcase img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

@media (min-width: 768px) {
  .the-homes-showcase img {
    max-height: 426px;
  }
}
